.cartadding {
    background: rgba(5,5,5,.4);
    font: inherit;
    border: 1px solid #33333305;
    border-radius: 2rem;
    color: white;
    padding: .5px 70px;
    cursor: pointer;
    font-size: 1.1rem;
    align-items: center;
    z-index: 1;
    display: flex;
  }
  
  .cartadding p{
      color: white;
      font-weight: 600;
      
  }
  